* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  color: black;
}

.main-container {
  margin: auto;
  background: whitesmoke;
  text-align: center;
  padding-top: 10px;
  background-image: url("/assets/math_sheet.png");
  background-repeat: repeat;
  min-height: 80vh;
}

.navbar {
  padding: 0px;
  margin: 0px;
  display: flex;
  position: fixed;
  vertical-align: middle;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  font-size: 1.3rem;
  flex-direction: column;
}

.navbar-brand {
  font-size: 1.6rem;
}

.nav-link {
  text-align: left;
}

.nav-link ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-link li {
  list-style: none;
  font-weight:bold;
}

.nav-link li a {
  text-decoration: none;
  padding: 2rem;
  display: block;
}

.navbar-togler {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.navbar-togler-icon .bar {
  height: 3px;
  width: 100%;
}

@media (max-width: 600px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }
  .navbar-toggler  {
      display: flex;
  }
  .nav-link {
      display: none;
      width: 100%;
  }
  .nav-link ul {
      width: 100%;
      flex-direction: column;
  }
  .nav-link li {
      text-align: left;
  }
  .nav-link ul li {
      text-align: center;
  }
  .nav-link ul li a {
      padding: .5rem 1rem;
  }
  .nav-link.active {
      display: flex;
  }
  .navbar.expanded {
    background-color: gray;
  }
  .navbar.expanded .navbar-collapse {
    background-color: gray;
  }
  .navbar.expanded .navbar-toggler-icon{
    color: black;
  }
  .navbar.expanded h2{
    color: black;
  }
  .navbar.expanded #navbarToggle>ul>li>a{
    color: black;
  }
}

p {
  /* margin-bottom: 10px; */
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-weight: 400;
  margin: 0px;
}

.control-label {
  font-size: 13px;
  margin-bottom: 0px;
}

.main_container {
	width: 100%;
	text-align: center;
}

.math_box {
	text-align: center;
	min-height: 30px;
  /* margin: 5px; */
}

.answer_box {
  text-align: center;
	min-height: 30px;
  /* margin: 0 20px; */
}

.bottom_box {
    min-height: 30px;
    /* margin: 10px; */
}

/* Buttons */

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 6px 10px;
  margin-bottom: 10px;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}

.btn.btn-sm {
  padding: 3px 6px !important;
  font-size: 12px;
}

.btn.btn-xs {
  padding: 2px 4px !important;
  font-size: 11px;
}

.btn.service-ok {
  padding: 1px 2px;
  font-size: 9px;
}

.btn.service-fail {
  padding: 1px 2px;
  font-size: 8px;
}

