* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  color: black;
  background: #fff;
  background-color: WhiteSmoke;
}

.main-container {
  margin: auto;
  background: whitesmoke;
  text-align: center;
  padding-top: 60px;
}

.container {
	text-align: center;
}

.container-center {
  position: relative;
}

.center {
  position: relative;
  display: block;
  text-align: center;
}

.small-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar {
  color: white;
  background-color: rgb(66, 64, 64);
  padding: 0px;
  margin: 0px;
  display: flex;
  position: fixed;
  vertical-align: middle;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
}

.brand-title a {
  font-size: 2rem;
  margin: .5rem;
  padding-right: 10;
  color: white;
}

.brand-title a:hover {
  text-decoration: none;
}

.navbar-links {
  text-align: left;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
  color: white;
  font-weight:bold;
}

.navbar-links li a {
  text-decoration: none;
  padding: 1rem;
  display: block;
  color: white;
}

.mobile-nav-toggle {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.mobile-nav-toggle .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .mobile-nav-toggle  {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }
}

.togle-button {
  position: absolute;
  display: flex;
}

.togle-button .bar {
  position: absolute;
  display: flex;
}

.divider {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px;
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* a {
  color: dimgray;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}*/
a:hover, a:active, a:focus {
  /* color: black;
  outline: none; */
  text-decoration: none;
}

p {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-weight: 400;
  margin: 0 0 10px 0;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 30px;
  font-size: 14px;
  margin-bottom: 0px;
}

.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #52d3aa;
}

.control-label {
  font-size: 13px;
  margin-bottom: 0px;
}

.main_container {
	width: 100%;
	text-align: center;
}

.math_box {
	text-align: center;
	height: 35px;
}

.answer_box {
	height: 60px;
}

.scoreboard_box {
	height: 50px;
	background: red;
}

.bottom_box {
    height: 20px;
}

.math_box-item {
	margin: 0 0px;
}


/* Buttons */

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 6px 10px;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}

.btn.btn-sm {
  padding: 3px 6px !important;
  font-size: 12px;
}

.btn.btn-xs {
  padding: 2px 4px !important;
  font-size: 11px;
}

.btn.service-ok {
  padding: 1px 2px;
  font-size: 9px;
}

.btn.service-fail {
  padding: 1px 2px;
  font-size: 8px;
}

